<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">
	<select id="getCodeList" parameterType="codeDto" resultType="codeDto">
		select
			codebid, 
	        codeaid, 
	        "name" as codebname
		from codeb
		where codeaid=#{codeAId}
	</select>
	
	<insert id="insert" parameterType="codeDto">
		insert into codeb
		(codebid, codeaid, name)
		values(#{codeBId}, #{codeAId}, #{codeBName})
	</insert>	
	
	<!-- 일정 코드 목록  -->
	<select id="getScheduleCodes" parameterType="CodeDto" resultType="CodeDto">
	  select 
	    a.codeaid,
	    b.codebid,
	    a.name as codeaname,
	    b.name as codebname
	  from codea a
	  join codeb b on a.codeaid = b.codeaid
	  where a.codeaid = 'SCHEDULE_TYPE'
	  order by b.codebid
	</select>
	
</mapper>